<% include partials/header %>
<body class="animsition">
    <div class="page-wrapper">
        <% include partials/sidebar %>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">Add Details</div>
                                <div class="card-body">
                                    <!-- <div class="card-title">
                                        <h3 class="text-center title-2">Form </h3>
                                    </div> -->
                                    <hr>
                                    <div class="container">      
                                            <table class="table table-bordered">
                                              <thead>
                                                <tr>
                                                  <th>Name</th>
                                                  <th>Location</th>
                                                  <th>Points</th>
                                                  <th>QR Code</th>
                                                  <th>Edit</th>
                                                  <th>Status</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <% for(var i=0; i < data.length; i++) { %>
                                                <tr>
                                                  <td><%= data[i].name %></td>
                                                  <td><%= data[i].location %></td>
                                                  <td><%= data[i].points %></td>
                                                  <td><%= data[i].qrcode %></td>
                                                  <td><a href="/qrcodegenerator?id=<%= data[i]._id %>"><i class="fa fa-edit"></i></a></td>
                                                <% if (data[i].status == 1) { %>
                                                  <td><a href="/listqrcode?id=<%= data[i]._id %>&status=<%= data[i].status %>">Active</a></td>
                                                <% } else { %>
                                                    <td><a href="/listqrcode?id=<%= data[i]._id %>">InActive</a></td>
                                                <% } %>
                                                
                                                </tr>
                                                <% } %>
                                              </tbody>
                                            </table>
                                            <!-- JSON.stringify(nav) -->
                                            <nav aria-label="Page navigation">
                                              <ul class="pagination">
                                            <% if(nav.curpage != nav.startpage){ %>
                                              <li class="page-item">
                                                <a class="page-link" href="listqrcode?page_id=<%= nav.startpage %>" tabindex="-1" aria-label="Previous">
                                                  <span aria-hidden="true">&laquo;</span>
                                                  <span class="sr-only">First</span>
                                                </a>
                                              </li>
                                              <% } %>
                                              <% if(nav.curpage >= 2){ %>
                                              <li class="page-item"><a class="page-link" href="listqrcode?page_id=<%= nav.previouspage %>"><%= nav.previouspage %></a></li>
                                              <% } %>
                                              <li class="page-item active"><a class="page-link" href="listqrcode?page_id=<%= nav.curpage %>"><%= nav.curpage %></a></li>
                                              <% if(nav.curpage != nav.endpage){ %>
                                              <li class="page-item"><a class="page-link" href="listqrcode?page_id=<%= nav.nextpage %>"><%= nav.nextpage %></a></li>
                                              <li class="page-item">
                                                <a class="page-link" href="listqrcode?page_id=<%= nav.endpage %>" aria-label="Next">
                                                  <span aria-hidden="true">&raquo;</span>
                                                  <span class="sr-only">Last</span>
                                                </a>
                                              </li>
                                              <% } %>
                                            </ul>
                                          </nav>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
 
</body>
   

<% include partials/footer %>

</script>